.App {
  font-family: "Old Standard TT", serif;
  max-width: 600px;
  margin: 30px auto;
}

ul {
  margin: 0;
}
li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 14px;
  padding: 0;
  text-transform: capitalize;
  line-height: 10px;
  margin-top: 8px;
}
h1 {
  text-align: center;
  margin-bottom: 0;
}
h2 {
  font-size: 18px;
  font-weight: 80;
  line-height: 15px;
}
small {
  font-family: "Architects Daughter", cursive;
  margin-top: 0;
}
form {
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-family: "Architects Daughter", cursive;
}

.button {
  font-size: 10px;
}
.weather-body {
  color: #f4f6ff;
  line-height: 20px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  margin: 50px auto;
  padding: 2px 15px 2px 0px;
  border-radius: 3px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.weather-top {
  line-height: 20px;
  font-size: 10px;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 50px;
  font-weight: 20px;
}
.weather-temperature img {
  line-height: 30px;
}

.weather-temperature .units {
  position: relative;
  left: 60px;
  font-size: 16px;
  top: -70px;
}
.weather-bottom {
  margin: 20px auto;
  line-height: 20px;
  font-size: 10px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  color: #f4f6ff;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.weather-bottom h4 {
  color: #f4f6ff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  padding-top: 7px;
}

.weather-bottom img {
  display: block;
  margin: 0 auto;
  height: 36px;
  width: 30px;
}

.units .active {
  color: #f4f6ff;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.weather-bottom-temperature {
  text-align: center;
  color: #f4f6ff;
  font-size: 13px;
  line-height: 15px;
}
.checker {
  position: relative;
  left: 215px;
  text-align: center;
}
.source {
  position: relative;
  top: 0px;
}
